<div class="pt-3 pb-2 mb-3 border-bottom">
    <a routerLink="/secure/featurePermission/create" class="btn btn-sm btn-outline-secondary">Add</a>
  </div>
  
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
      <tr>
        <th>#</th>      
        <th>Feature ID</th>
        <th>Operation Permitted</th>
        <th>Role ID</th>
        <th>User ID</th>
        <th>Role Feature Security</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let featurePermission of featurePermission">
        <td>{{featurePermission.Id}}</td>
        <td>{{featurePermission.feature_id}}</td>
        <td>{{featurePermission.operation_permitted}}</td>
        <td>{{featurePermission.role_id}}</td>
        <td>{{featurePermission.user_id}} </td>
        <td>{{featurePermission.role_feature_security}}</td>

        <td>
          <div class="btn-group mr-2">
            <a [routerLink]="['/secure/featurePermission', featurePermission.Id, 'edit']" class="btn btn-sm btn-outline-secondary">Edit</a>
            <a href="javascript:void(0)" class="btn btn-sm btn-outline-secondary"
               (click)="delete(featurePermission.Id)"
            >Delete</a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  
  <!--   
  <app-paginator
    [lastPage]="lastPage"
    (pageChanged)="load($event)"
  ></app-paginator> -->
  