<div class="pt-3 pb-2 mb-3 border-bottom">
    <a routerLink="/secure/appMessage/create" class="btn btn-sm btn-outline-secondary">Add</a>
  </div>
  
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
      <tr>
        <th>#</th>      
        <th>User ID</th>
        <th>Tenant ID</th>
        <th>App ID</th>
        <th>Is notification</th>
        <th>Subject</th>
        <th>Message Body</th>
        <th>Is read</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let appMessage of appMessage">
        <td>{{appMessage.Id}}</td>
        <td>{{appMessage.user_id}}</td>
        <td>{{appMessage.tenant_id}}</td>
        <td>{{appMessage.app_id}}</td>
        <td>{{appMessage.is_notification}}</td>
        <td>{{appMessage.subject}}</td>
        <td>{{appMessage.message_body}}</td>
        <td>{{appMessage.is_read}}</td>
    
        <td>
          <div class="btn-group mr-2">
            <a [routerLink]="['/secure/appMessage', appMessage.Id, 'edit']" class="btn btn-sm btn-outline-secondary">Edit</a>
            <a href="javascript:void(0)" class="btn btn-sm btn-outline-secondary"
               (click)="delete(appMessage.Id)"
            >Delete</a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  
  <!--   
  <app-paginator
    [lastPage]="lastPage"
    (pageChanged)="load($event)"
  ></app-paginator> -->
  