<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column" style="font-size: medium;">
      <li class="nav-item">
        <a routerLink="/secure/dashboard" routerLinkActive="active" class="nav-link">Dashboard</a>
      </li>
      <li class="nav-item">
        <a routerLink="/secure/users" routerLinkActive="active" class="nav-link">Users</a>
      </li>
      <li class="nav-item">
        <a routerLink="/secure/roles" routerLinkActive="active" class="nav-link">Roles</a>
      </li>
      <li class="nav-item">
        <a routerLink="/secure/tenant" routerLinkActive="active" class="nav-link">Tenant</a>
      </li>
      <li class="nav-item">
        <a routerLink="/secure/client" routerLinkActive="active" class="nav-link">Client</a>
      </li>
      <li class="nav-item">
        <a routerLink="/secure/tenantUser" routerLinkActive="active" class="nav-link">Tenant User</a>
      </li>
      <li class="nav-item">
        <a routerLink="/secure/tenantUserApp" routerLinkActive="active" class="nav-link">Tenant User App</a>
      </li>
      <li class="nav-item">
        <a routerLink="/secure/tenantUserAppRole" routerLinkActive="active" class="nav-link">Tenant User App Role</a>
      </li>
      <li class="nav-item">
        <a routerLink="/secure/tenantUserAppAlert" routerLinkActive="active" class="nav-link">Tenant User App Alert</a>
      </li>
      <li class="nav-item">
        <a routerLink="/secure/tenantApp" routerLinkActive="active" class="nav-link">Tenant App</a>
      </li>
      <li class="nav-item">
        <a routerLink="/secure/tenantAppFeature" routerLinkActive="active" class="nav-link">Tenant App Feature</a>
      </li>
      <li class="nav-item">
        <a routerLink="/secure/feature" routerLinkActive="active" class="nav-link">Feature</a>
      </li>
      <li class="nav-item">
        <a routerLink="/secure/featurePermission" routerLinkActive="active" class="nav-link">Feature Permission</a>
      </li>
      <li class="nav-item">
        <a routerLink="/secure/app" routerLinkActive="active" class="nav-link">App</a>
      </li>
      <li class="nav-item">
        <a routerLink="/secure/appRole" routerLinkActive="active" class="nav-link">App Role</a>
      </li>
      <li class="nav-item">
        <a routerLink="/secure/appMessage" routerLinkActive="active" class="nav-link">App Message</a>
      </li>
    </ul>
  </div>
</nav>